* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFCDBA;
}

/*NAV BAR */
nav {
    display: flex;
    justify-content: center;
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
  
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
     transition: 0.3s;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px;
}

nav img {
    width: 60px;
    height: auto;
}

nav a:hover{
    color:#FC7847;
    transition: 0.2s;
}

/*NAV BAR */

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding-top: 100px;
    /* padding-bottom: 200px; */

    
}

.principal .apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.principal .apresentacao img {
    width: 200px;
    height: auto;
}

.principal .cachorro img {
    width: 350px;
    height: auto;
}

.principal a {
    text-decoration: none;
    font-weight: bold;
}

.principal .botao-link {
    display: inline-block;
    background-color: #FC7847;
    padding: 15px 30px;
    border-radius: 20px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.principal .botao-link:hover{
    background-color: #c73602;
    transition: 0.3s;
}

/*
footer {
    background-color: white;
    display: flex;
    padding: 20px;
    gap: 60px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    z-index: 1000;

}
footer img{
    width: 20px;
    height: auto;
}
footer .redes{
    display: flex;
    gap: 20px;
}
footer .redes .redes-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
*/
