* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFCDBA;
}
h1{
    text-align: center;
    padding: 40px;
     padding-top: 90px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.card a {
   border-style: solid;
   border-width: 1px;
    display: flex;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    padding: 20px;
      transition: 0.3s;
}
.card a:hover {
    background-color: #f35b23;
    color: white;
     transition: 0.3s;
   
}

.cards .infos{
    padding: 0 60px;
    display: flex;
    flex-direction: column;
align-items: center;
font-size: 25px;
gap: 10px;
}